@page "/"

<PageTitle>Telestar Logistics</PageTitle>

<h1>Kikokotoo cha Umbali</h1>

<div style="display: flex; justify-content: space-between;">
    <div style="width: 45%;">
        <LocationSelector Label="Kutoka" Locations="@Locations" @bind-Selected="SelectedSource"></LocationSelector>
        <LocationSelector Label="Kwa" Locations="@Locations" @bind-Selected="SelectedDestination"></LocationSelector>


        <br />
        <div>
			<label for="weight">Uzito</label><br />
            <input type="number" name="weight" value="" />kg
        </div>

        <br />

        <div style="display: flex; align-items: center;">
            <input name="Signed" type="checkbox" value="Signed" />   Imetiwa saini<br />

            <div class="circle">
                i
                <span class="hover-text">
					Bei za kifurushi cha ishara ni 1 517,50 KES.
                </span>
            </div>
        </div>
        <br />

        <div style="display: flex; align-items: center;">
            <select>
				<option value="standard">Kawaida</option>
				<option value="liveAnimals">Wanyama hai</option>
				<option value="cautiousParcels ">Vifurushi vya tahadhari</option>
				<option value="refrigeratedGoods">Bidhaa za friji</option>
            </select>

            <div class="circle">
                i
                <span class="hover-text">
					Bei hubadilika kulingana na aina <br />
					Wanyama hai 	+50% <br />
					Vifurushi vya tahadhari 	+75%  <br />
					Bidhaa za friji 	+10%  <br />
                </span>
            </div>
        </div>
    </div>

    <div style="width: 45%;">
        
        @if (DisplayDistance is not null)
        {
            <span class="alert alert-primary">
                <span>@DisplaySource</span>
                <span class="oi oi-arrow-right mr-1" aria-hidden="true"></span>
                <span>@DisplayDistance h</span>
                <span class="oi oi-arrow-right" aria-hidden="true"></span>
                <span>@DisplayDestination</span>
            </span>
        }
    </div>
</div>

<br />
<button class="confirmation-button" @onclick="CalculateDistance">Kokotoa</button>

<br />
<br />
<img src="/map.png" alt="map" class="map" />
<br />

<style>
    .confirmation-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .circle {
        width: 10px;
        height: 10px;
        background-color: grey;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 10px;
        font-family: Arial, sans-serif;
        margin-left: 10px;
        position: relative;
    }

    .hover-text {
        visibility: hidden;
        background-color: #555;
        color: #fff;
        text-align: center;
        font-size: 15px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -25px;
    }

    .circle:hover .hover-text {
        visibility: visible;
    }


    header {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
    }

    .logo-container img {
        height: 80px;
    }

</style>

